/.DS_Store
/ADSL2
/AWS
/ConnectWithoutRDP
/CourseOverview.drawio
/CourseOverview_includingFileSharing.drawio
/DockerArchitecture
/DockerIsEasy
/ExternalContainer_InternalContainer
/Kaggle-R-GPU
/LMSetting
/LectureNote.html
/LectureNote_files
/Practical Docker for data professionals - Introduction.pptx
/Practical Docker for data professionals.pptx
/Presentation
/PythonBackend
/VMSetting
/blobfuse
/command
/makeBetterImage.drawio
/~$Practical Docker for data professionals.pptx